@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

#order-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.central-order-info {
    display: flex;
    width: 60%;
    height: 700px;
    border-left: 6px #8273AC solid;
    border-right: 6px #8273AC solid;
    justify-content: center;
    background-color: rgb(225, 224, 224);
}

.flank-container {
    height: 700px;
    width: 20%;
    background-position:center;
    background-repeat: none;
    background-size: cover;
    box-shadow: inset 0 0 0  1000px rgba(193, 77, 225, 0.2)
}

.left {
    background-image: url('https://images.pexels.com/photos/15476710/pexels-photo-15476710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
}

.right {
    background-image: url('https://images.pexels.com/photos/8220907/pexels-photo-8220907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
}

#order-info-title {
    font-size: 32px;
    font-family: 'Oleo Script', cursive;
    text-shadow: 1px 1px 1px white;
}

#sub-container {
    width: 80%;
}

#order-instructions {
    font-size: 26px;
}

#order-paragraphs {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.order-step {
    padding: 8px;
    font-size: 18px;
}