@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Encode+Sans+Condensed:wght@400&family=Faster+One&family=Lexend+Zetta:wght@300&family=Lobster&family=Oleo+Script&family=Prompt:wght@200&display=swap');

#order-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

.central-order-info {
    display: flex;
    width: 58%;
    height: 700px;
    justify-content: center;
    background-color: rgb(97, 97, 97);
    border-radius: 30px;
}

.flank-container {
    height: 700px;
    width: 20%;
    background-position:center;
    background-repeat: none;
    background-size: cover;
    box-shadow: inset 0 0 0  1000px rgba(193, 77, 225, 0.2);
}

.left {
    background-image: url('https://images.pexels.com/photos/15476710/pexels-photo-15476710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.right {
    background-image: url('https://images.pexels.com/photos/8220907/pexels-photo-8220907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#order-info-title {
    font-size: 32px;
    font-family: 'Oleo Script', cursive;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: white;
    font-weight: 300;
}

#sub-container {
    width: 80%;
}

#order-instructions {
    font-size: 26px;
    color: white;
}

#order-paragraphs {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.order-step {
    padding: 8px;
    font-size: 18px;
    color: white;
}