#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(218, 218, 218);
    min-width: 100%;
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
}

#logo-title-container {
    padding-left: 2%;
    display: flex;
    align-items: center;
    width: 40%;
}

#sunset-logo {
    width: 100px;
    border-radius: 50px;
}

#title {
    font-size: 48px;
    padding-left: 1%;
}

nav {
    height: 3em;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: #8273AC;
    border-radius: 0.5em;
}

.menu {
    width: 25vw;
    height: 100%;
    background-color: rgb(218, 218, 218);
    position: fixed;
    right:0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885. 0.32, 1.275) 0.5s;
}

@media screen and (max-width: 850px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        min-width: 100%;
    }
    #logo-title-container {
        width: 50%;
    }
    #sunset-logo {
        width: 50px;
    }
    #title {
        font-size: 28px;
    }
    #nav-button-container {
        flex-direction: row;  
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 400px) {
    #sunset-logo {
        width: 70px;
    }
}