#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 218, 218);
}

#logo-title-container {
    padding-left: 2%;
    display: flex;
    align-items: center;
    width: 40%;
}

#sunset-logo {
    width: 100px;
    border-radius: 50px;
}

#title {
    font-size: 48px;
    padding-left: 1%;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-button {
    font-size: 38px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
}