#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 218, 218);
    min-width: 100%;
}

#logo-title-container {
    padding-left: 2%;
    display: flex;
    align-items: center;
    width: 40%;
}

#sunset-logo {
    width: 100px;
    border-radius: 50px;
}

#title {
    font-size: 48px;
    padding-left: 1%;
}

#nav-button-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-button {
    font-size: 38px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
}

@media screen and (max-width: 850px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        min-width: 100%;
    }
    #logo-title-container {
        width: 50%;
    }
    #sunset-logo {
        width: 50px;
    }
    #title {
        font-size: 28px;
    }
    #nav-button-container {
        flex-direction: row;  
        margin-bottom: 2%;
    }
    .nav-button {
        font-size: 20px;
        max-width: 50%;
        margin: 1px;
    }
}

@media screen and (max-width: 400px) {
    #sunset-logo {
        width: 70px;
    }
}