#footer-container {
    display: flex;
    min-height: 100%;
    justify-content:space-around;
    flex-direction: row;
    background-color: rgb(97, 97, 97);
    width: 100%;
}

.footer-content-block {
    display: inline-block;
    flex-direction: column;
}

#footer-media-block {
    display: flex;
    flex-direction: row;
}

.footer-p {
    font-size: 14px;
    text-align: left;
    color: white;
}

h5 {
    color: white;
}

@media screen and (max-width: 600px) {
    .footer-p {
        font-size: 10px;
    }
    .footer-content-block {
        padding: 3%;
    }
}