@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

#news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#news-title {
    font-size:32px;
    font-family: 'Oleo Script', cursive;
    color: white;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
    font-weight: 400;
    border-bottom: 1px solid white;
}

#content-container {
    max-width: 85%;
    padding: 20px;
    background-color: rgb(212, 212, 212);
    height: 350px;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: 1px 1px 1px gray;
}

.news-content {
    border-bottom: 1px black solid;
    text-align: left;
}

.news-content-title {
    font-size: 18px;
    font-weight: 500;
}

.news-content-p {
    font-weight: 450;
}

.news-content-date {
    font-size: 14px;   
}

#creator-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#create-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 77, 77);
    padding: 10%;
    margin: 10%;
}

.create-input {
    margin: 15%;
}

.large-input {
    padding: 15%;
}

#create-news {
    color: white;
}

#news-banner {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}