@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

#product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-image: url('https://images.pexels.com/photos/12843338/pexels-photo-12843338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(55, 55, 55);
    background-position: center;
}

#product-table {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-title {
    font-size: 34px;
    font-family: 'Oleo Script', cursive;
    text-shadow: 1px 1px 1px rgb(8, 25, 104);
    color: rgb(228, 228, 228);
    font-weight: 500;
}

.product {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px gray solid;
    width: 80%;
    align-items: center;
}

.product-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    border-radius: 5px;
}

.product-text {
    padding: 5px;
    border-right: 1px gray solid;
    font-size: 30px;
    font-weight: 250;
    color: white;
    text-align: left;
    margin-left: 10px;
}

.product-text-cost {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 250;
    align-items: center;
    color: white;  
}

.name {
    width: 180px;
    display: flex;
    font-size: 34px;
    padding-right: 15px;
    font-weight: 350;
}

.cost {
    width: 120px;
}

.info {
    font-weight: 100;
}